<div class="row">
  <div class="col-5">
    <app-liste (candidateToCv)="recupererCandidat($event)"></app-liste>
  </div>
  <div class="col-7">
    @if (selectedCandidate) {
    <app-details [selCandidate]="selectedCandidate"></app-details>

    } @else {
    <h3>Veuillez seléctionner un candidat...</h3>
    }
  </div>
</div>
<app-recruter></app-recruter>
<!-- 
<button (click)="onAddCandidate()" class="btn btn-info">Add Candidate</button>
<button (click)="showCandidats()" class="btn btn-success">
  Consulter Candidats à partir de CV
</button> -->
