<ol class="list-group">
  @for (serv of tabServers; track $index) {

  <!-- <li
    class="list-group-item"
    [ngClass]="{
      'list-group-item-success': serv.status == 'stable' ? true : false
      'list-group-item-danger': serv.status == 'critical' ? true : false
      'list-group-item-warning': serv.status == 'offline' ? true : false
    }"
  > -->
  <li class="list-group-item" [ngClass]="affecterClass(serv.status)">
    {{ serv.name | short : 13 }} | {{ serv.type | uppercase }} |
    {{ serv.date_d | date : "fullDate" | uppercase }}
    <span class="badge text-bg-secondary">{{ serv.status }} </span>
  </li>

  }
</ol>
