<ul class="nav nav-tabs">
  <li class="nav-item">
    <a
      class="nav-item nav-link"
      routerLink=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Accueil</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-item nav-link"
      routerLink="cv"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Cv</a
    >
  </li>
  @if(authSer.estConnecte()) {
  <li class="nav-item">
    <a
      class="nav-item nav-link"
      routerLink="cv/add"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Ajouter Cv</a
    >
  </li>

  }
  <li class="nav-item">
    <a class="nav-item nav-link" routerLink="accounts" routerLinkActive="active"
      >Accounts</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-item nav-link" routerLink="servers" routerLinkActive="active"
      >Servers</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-item nav-link" routerLink="ms-word" routerLinkActive="active"
      >Ms-Word</a
    >
  </li>
  @if(!authSer.estConnecte()) {
  <li class="nav-item">
    <a class="nav-item nav-link" routerLink="login" routerLinkActive="active"
      >Login</a
    >
  </li>
  } @else {
  <li class="nav-item">
    <a class="nav-item nav-link" (click)="authSer.seDeconnecter()">Logout</a>
  </li>

  }
</ul>
