<form #f="ngForm">
  <label for="login">Login</label>
  <input
    #inpLogin="ngModel"
    ngModel
    required
    email
    name="plb"
    id="login"
    class="form-control"
  />

  @if (inpLogin.invalid && inpLogin.touched) {
  <div class="alert alert-danger">Veuillez saisir une adresse mail valide</div>

  }

  <label for="">Mot de passe</label>
  <input required minlength="4" ngModel name="password" class="form-control" />

  <label for="">Langage préféré</label>
  <select
    #lang="ngModel"
    name="lanagage"
    [ngModel]="defaultLangagePrefere"
    class="form-control"
  >
    <option value=""></option>
    <option value="java">Java</option>
    <option value="javascript">Javascript</option>
    <option value="php">Php</option>
  </select>

  {{ defaultLangagePrefere }}
  <br />

  <button (click)="onSubmit(f)" type="submit" class="btn btn-primary">
    Submit
  </button>

  <pre>
    {{ f.value | json }}
  </pre>
</form>
