@if(showErrorMsg) {
<div class="alert alert-danger">Login et/ou mot de passe invalide(s)</div>

}
<form #f="ngForm">
  <label for="login">Login</label>
  <input
    #inpLogin="ngModel"
    ngModel
    required
    email
    name="email"
    id="login"
    class="form-control"
  />

  @if (inpLogin.invalid && inpLogin.touched) {
  <div class="alert alert-danger">Veuillez saisir une adresse mail valide</div>

  }

  <label for="">Mot de passe</label>
  <input required minlength="4" ngModel name="password" class="form-control" />

  <!-- <div ngModelGroup="infos" #divInfos="ngModelGroup">
    <label for="">Langage préféré</label>
    <select
      #lang="ngModel"
      name="langage"
      [ngModel]="defaultLangagePrefere"
      class="form-control"
    >
      <option value=""></option>
      <option value="java">Java</option>
      <option value="javascript">Javascript</option>
      <option value="php">Php</option>
    </select>

    defaultLangagePrefere : {{ defaultLangagePrefere }}
    <br />

    <label for="">Commentaire</label>
    <textarea
      class="form-control"
      [(ngModel)]="defaultComment"
      name="commentaire"
      cols="5"
      rows="4"
    ></textarea>

    defaultComment : {{ defaultComment }}
    <br />
  </div>

  <label for="">Exemple de gestion d'erreurs</label>
  <input
    #exp="ngModel"
    ngModel
    name="exemple"
    required
    minlength="5"
    pattern="nidhal"
    type="text"
    class="form-control"
  />
  @if (exp.invalid) { @if(exp.errors['required']) {
  <div class="alert alert-danger">Ce champ est obligatoire</div>

  } @if(exp.errors['minlength']) {
  <div class="alert alert-danger">Le nombre minimum de caractères est 5</div>
  } @if(exp.errors['pattern']) {
  <div class="alert alert-danger">Le pattern est 'nidhal'</div>

  } } -->
  <br /><br />
  <div class="row">
    <div class="col-6 offset-4">
      @if(showLogin) {
      <button (click)="onLogin(f)" type="submit" class="btn btn-primary">
        Se connecter
      </button>
      <button (click)="toggleShowLogin()" type="button" class="btn btn-warning">
        Switch to Register
      </button>

      } @else {
      <button (click)="onRegister(f)" type="submit" class="btn btn-danger">
        S'inscrire
      </button>
      <button (click)="toggleShowLogin()" type="button" class="btn btn-dark">
        Switch to Login
      </button>

      }
    </div>
  </div>
  <!-- <button type="button" (click)="generatedPwd(f)" class="btn btn-warning">
    Geenrated Password
  </button>
  <button type="button" (click)="onReset(f)" class="btn btn-danger">
    Reset
  </button> -->

  <pre>
    {{ f.value | json }}
  </pre>
</form>
